{% extends "base.html" %}
{% block style %}
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }



</style>
<!-- Custom styles for this template -->
<link href="cover.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="cover-container d-flex w-75 p-3 mx-auto flex-column text-center">
    <main role="main" class="inner cover">

        <img class="img-fluid p-3" src="static/img/logo_werbos_white.png" alt="Logo Werbos" width="250">
        <p class="lead">Um humilde embrião de inteligência artificial para ajudar você a escrever.<br>
            O objetivo dele é se tornar um ajudante do seu editor de texto predileto, um <i>sidekick</i> se me
            permitirem o anglicismo. Por enquanto, ele apenas analisa a frequência das palavras de uma cena,
            exibe os resultados visualmente e colore o texto baseado nessa informação.</p>
        <p>Em breve, também pretendo detectar as classes gramaticais (<i>part of speach</i>) e fazer análise de
            sentimentos. O Werbos vai crescer em função da necessidade dos usuários que se interessarem por ele.
            Portanto, mandem seus comentários para mim no Twitter
            <a href="https://twitter.com/escrevejonas">@escrevejonas</a> ou no
            <a href="https://medium.com/@jonasdias">Medium</a>.</p>
        <p>Se quiser se envolver ainda mais e  pôr as mãos no código fonte, o projeto está disponível no
            <a href="https://github.com/jonasfd/werbos">GitHub</a>. Mande-me um e-mail para me @ jonasdias dot com.</p>
    </main>
</div>

{% endblock %}