{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
    <div class="container">
        <h3>Conta Palavras</h3>

        <p>Cole uma cena ou alguns parágrafos do seu texto aqui embaixo e clique no botão para ver seu texto colorido
        de acordo com a frequência das palavras. Quanto mais vermelho, mais frequente é a palavra. Por enquanto, o
        processamento está eliminando as quebras dos parágrafos, o que deixa a leitura ruim. Pretendo corrigir isso
        em breve.</p>
        <form role="form" method='POST' action='/'>
            <div class="form-group">
                <textarea name="text" cols=40 rows=10 class="form-control" id="text-box" placeholder="Insira o texto..."
                          autofocus required></textarea>
            </div>
            <button type="submit" class="btn btn-dark">Submeter</button>
        </form>
        <br>
        {% for error in errors %}
        <h4>{{ error }}</h4>
        {% endfor %}
        <br>
        {% if results %}
        <div class="p-3 mb-2 bg-dark text-white">
            <h2>Resultado</h2>
            <br>
            {{results | safe}}
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}